<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# Title#}
    <title>{% block title %}{% endblock%}</title>

    {# Add file css in the project #}
    {% block file_css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" href="/assets/scc/style.scss">
    {% endblock %}
</head>
<body>

    {# Centre le titre #}
    <div class="container">
        {# Title of the web site #}
        <h1>{{ title }}</h1>
    </div>

    {# Menu #}
    <nav>
        <div class="nav-wrapper blue darken-2">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="public/index.php"><i class="material-icons left">home</i>Home</a></li>
                <li><a href="public/index.php"><i class="material-icons left">group</i>Users</a></li>
                <li><a href="public/index.php"><i class="material-icons left">description</i>Articles</a></li>
            </ul>
        </div>
    </nav>
    {# Menu responsive #}
    <ul class="sidenav" id="mobile-demo">
        <li><a href="public/index.php"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="public/index.php"><i class="material-icons left">group</i>Users</a></li>
        <li><a href="public/index.php"><i class="material-icons left">description</i>Articles</a></li>
    </ul>

    {# Block body #}
    {% block body %}
    {% endblock %}

    {# add file js #}
    {% block file_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="assets/index.js"></script>
    {% endblock %}

</body>
</html>
