{% extends 'base.html.twig' %}

    {#Home articles#}
    <div class="container">

        {% block title %}Articles{% endblock %}

        {# Block body #}
        {% block body %}
            <span>Mes articles!</span>p>
           {% include '_partials/_items.html.twig' %}
        {% endblock %}

    </div>

