{% extends 'templates/_partials/base.html.twig' %}

   {% block title %}Articles{% endblock %}

    {#Home articles#}
    <div class="container">

        {# Block body #}
        {% block body %}
            <span>Mes articles!</span>p>
            {% include 'templates/_partials/_items.html.twig' %}

            <p>
                {{ article.name }}
                {{ article.description }}
                {{ article.author }}
            </p>

        {% endblock %}

    </div>

