{% extends 'templates/_partials/base.html.twig' %}

{% block title %}Users{% endblock %}

    {#Home users#}
    <div class="container">

        {# Block body #}
        {% block body %}
            <span>Mes utilisateurs!</span>
            {% include "templates/_partials/_items.html.twig" %}

            <p>
                {{ user.name }}
                {{ user.lastName }}
                {{ user.mail }}
            </p>

        {% endblock %}

    </div>
